body {
    background-color: white;
    
}
#main {
    background-color: #EEEEEE;
    margin: auto 1%;
    
}
#img-div {
    background-color: white;
    margin: auto 2%;
    text-align: center;
}

#image{
    width: 80rem;

}
#img-caption p {
    padding-bottom: 1rem;
}
#title {
    text-align: center;
    padding-top: 2rem;
    font-size: 3rem;
}
#subtitle {
    text-align: center;
    font-size: 1.5rem;
    font-weight: lighter;
}

/* #info-list{
    width: 60rem;
    text-align: center;
} */

#info-list {
    margin-left: 8rem;
    margin-right: 10rem;
    font-size: 1rem;
    line-height: 1rem;
    
}
#cite {
    text-align: center;
    margin-left: 8rem;
    margin-right: 10rem;
    font-style: italic;
}
#tribute-info p {
    text-align: center;
}
#info-list li{
    margin-top: 1rem;
}

#link-more{
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 2rem;
}

@media (max-width: 650vw){
    #image{
        width: 100%
    }
       
}
