body {
    background-color: white;
    padding: 2%;
}
#main {
    background-color: #EEEEEE;
    margin: auto 2%;
    
}
#img-div {
    background-color: white;
    margin: auto 2%;
    text-align: center;
}

#image{
    width: 80rem;
}
#title {
    text-align: center;
    padding-top: 2rem;
    font-size: 3rem;
}
#subtitle {
    text-align: center;
    font-size: 1.5rem;
    font-weight: lighter;
}